-- ----------------------
-- LOCATION METADATA UPDATING PART {{ row['name']}}
-- ----------------------

BEGIN TRANSACTION;
-- Updates Location Metadata given by location_id = {{ row['location_id'] }}
UPDATE location_t
SET (timezone,site,location,province,state,country,organization,contact_email) = 
({{row['timezone']}},{{row['place']}},{{row['town']}},{{row['sub_region']}},{{row['region']}},{{row['country']}},{{row['org_name']}},{{row['org_email']}})
WHERE location_id = {{ row['location_id'] }};
COMMIT;

