-- ---------------------------
-- NEW LOCATION INSERTION PART {{ i }} 
-- ---------------------------

-- CREATE INDEX tess_id_readings ON tess_readings_t(tess_id);
PRAGMA foreign_keys = OFF;
BEGIN TRANSACTION;
{% set org_name = 'NULL' if row['org_name'] is none else "'" + row['org_name'] + "'" -%}
{% set org_email = 'NULL' if row['org_email'] is none else "'" + row['org_email'] + "'" -%}
-- Inserts new Location
INSERT INTO location_t (longitude,latitude,elevation,timezone,site,location,province,state,country,organization,contact_email)
VALUES ({{row['longitude']}},{{row['latitude']}},{{row['masl']}},'{{row['timezone']}}','{{row['place']}}','{{row['town']}}','{{row['sub_region']}}','{{row['region']}}', '{{row['country']}}',{{org_name}},{{org_email}});
-- Updates photometer's current location from former location_id = {{ row['location_id']}}
UPDATE tess_t
SET location_id = last_insert_rowid()
WHERE mac_address = '{{row['mac']}}';
-- Updates past readings with the former location id
UPDATE tess_readings_t
SET location_id = last_insert_rowid()
WHERE tess_id IN ({{ ','.join(row['tess_ids']) }});
COMMIT;
PRAGMA foreign_keys = ON;
--